@model List<Shipment>

@{
    ViewData["Title"] = "shipmentData";
    int i = 0;
}

<div class="container-fluid p-0">
    @await Component.InvokeAsync("ProfileBar");
</div>

<div class="container">
    @await Component.InvokeAsync("SearchBar", new { SearchPager = ViewBag.SearchPager })
    <table class="table mt-3">
        <thead class="dark-green">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Country</th>
                <th scope="col">City</th>
                <th scope="col">Address</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Shipment item in Model)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>@item.Date</td>
                    <td>@item.Country</td>
                    <td>@item.City</td>
                    <td>@item.Address</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>